@import "tailwindcss";

@theme {
  --color-brand-50: #e6eaf0;
  --color-brand-100: #c2c9d6;
  --color-brand-300: #7a8ba7;
  --color-brand-500: #003049;
  --color-brand-700: #001c2b;
  --color-brand-900: #000d14;
}

.logo-vertical {
  height: 64px;
  background: rgba(255, 255, 255, 0.3);
  border-inline-end: 1px solid rgba(5,5,5,0.06);
  padding: 16px;
}

.ant-menu .ant-menu-item {
  border-radius: 20px !important;
}


.logout-button{
  border-radius: 20px;
}
